<div class="popup-bg">
    <div class="member-setting">
        <button class="close" routerLink="../..">X</button>
        <div class="head">
            <h2>Paramètres de Collaborateur</h2>
            <div class="status">Active</div>
        </div>
        <div class="nom">
            <p>Nom d'utilisateur <span>diaeHajib</span></p>
        </div>
        <div class="groupe-line">
            <label for="groupe">Groupe</label>
            <select id="groupe">
                <option value="">Groupes</option>

              <!-- Options for groups -->
            </select>
        </div>
        <div class="button-line">
            <button class="reset-password">Réinitialiser le mot de passe</button>
            <button class="disable-account">Désactiver le compte</button>
        </div>
    </div>
</div>
