
<div class="popup-bg" >
    <div class="popup-content">
      <button class="close" routerLink="../..">X</button>
      <div class="left-side">
        <img src="../../../assets/left-side.png" alt="">
      </div>
      <div class="right-side">
        <div class="label-container">
            <label for="name">Fichier</label>
            <div class="file">
                <input id="fileName" type="text" class="rectangle" value={{fileName}}>
                <span>.{{extension}}</span>
            </div>
        </div>
        <div class="label-container">
            <label for="name">Categorie</label>
            <div class="row">
              <select class="sele" >
                <option  >{{categorie}}</option>
              </select>
            </div>
        </div>
        <div class="label-container">
            <label for="name">Étiquettes</label>
            <div class="row">
              <select class="sele" >
                <option value="">Selectionnez une Étiquette</option>
                <option *ngFor="let label of labels" [value]="label">{{label}}</option>
              </select>
            </div>
        </div>
        <div class="label-container">
            <label for="name">Groupe</label>
            <div class="rectangleb">
                <p class="fullpath">Omnishore</p>
            </div>
        </div>
        <div class="label-container">
            <label for="name">Taille</label>
            <div class="rectanglec">
                <p class="fullpath">{{size}}</p>
            </div>
        </div>
        <div class="row3">
            <button class="annuler" routerLink="../.." >annuler</button>
            <button class="enregistrer" (click)="onSave()" >enregistrer</button>
          </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
