.dashboard-header{
  background: rgb(247,181,55);
background: linear-gradient(120deg, rgba(247,181,55,1) 0%, rgba(249,129,38,1) 100%);
width: 100%;
height: 150px;
display: flex;
justify-content: center;
}

nav button{
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  border-radius: 3px;
}

nav button:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
